# IntelliJ
*.iml
.idea/

# Eclipse
.settings/
.project
.classpath

# Common
target/

koi/*
stats.json
src/main/java/co/casterlabs/koi/Test.java
status.json
usernames.json
latest.log
errors.json
config.json
errors.log
client_ids.json
notices.json
